@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CineVault!</h1>
    <p>Here you can manage movies, actors, and see which actors belong to a movie!</a>.</p>
</div>
