@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CineVault!</h1>
    <p> Dive into our vast database of movies and actors, enriched with details, images, and links to IMDB. Explore public opinions and sentiments through integrated Reddit posts and sentiment analysis. Connect actors to movies, and enjoy a visually appealing experience as you navigate through the cinematic world. Join us for a unique and informative journey into film at CineVault!</a>.</p>
</div>
