@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>This site allows for you to view movies and actors. You can also see which actors belong to a movie. Additionally, you can see the sentiment value of the first 100 Reddit posts pulled!</p>
